In [ ]:
#Task 2 - Superstore_USA
1 . Load this data in sql and in pandas with a relation in sql 
2 . While loading this data you dont have to create a table manually. You can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

In [1]:
import pandas as pd
from sqlalchemy import engine as sa
import xlrd

In [6]:
Superstore = pd.read_excel(r"C:\Users\soume\data fsds\Superstore_USA.xlsx")

In [7]:
Superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [8]:
Superstore1 = pd.read_excel(r"C:\Users\soume\data fsds\Superstore_USA.xlsx","Returns",names = ['Order ID','Status'])
Superstore1

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [9]:
Superstore2 = pd.read_excel(r"C:\Users\soume\data fsds\Superstore_USA.xlsx","Users")
Superstore2

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [10]:
Superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [35]:
Superstore1

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [12]:
Superstore2

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [17]:
# Connect to MySQL
import mysql.connector as conn

mydb = conn.connect(host ="localhost" , user = "root" , passwd = "soumen123khatua")
cursor = mydb.cursor()
cursor.execute("create database if not exists USA_Data")

In [18]:
# Read this dataset in MySQL
engine = sa.create_engine('mysql+pymysql://root:soumen123khatua@localhost/USA_Data')

In [23]:
Superstore.to_sql("USA_data1" , con = engine)
#"USA_data1" is a table inside of "USA_DAta" table

In [24]:
cursor.execute("use USA_Data")

In [26]:
data = pd.read_sql_query("select * from USA_Data1 ",engine)
data

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [28]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [36]:
Superstore.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [31]:
Superstore.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9354.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000
mean,20241.015277,0.049628,88.303686,12.795142,1738.422236,0.512189,52446.327286,139.236410,13.798430,949.706272,82318.489073
std,6101.890965,0.031798,281.540982,17.181203,979.167197,0.135229,29374.597802,998.486483,15.107688,2598.019818,19149.448857
min,2.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,-16476.838000,1.000000,1.320000,6.000000
25%,19330.250000,0.020000,6.480000,3.192500,898.000000,0.380000,29406.000000,-74.017375,5.000000,61.282500,86737.250000
50%,21686.500000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2.567600,10.000000,203.455000,88344.500000
75%,24042.750000,0.080000,85.990000,13.990000,2578.750000,0.590000,78516.000000,140.243850,17.000000,776.402500,89987.750000
max,26399.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,16332.414000,170.000000,100119.160000,91591.000000

In [32]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [33]:

Superstore['Product Name'].value_counts()

Global High-Back Leather Tilter, Burgundy                            27
Bevis 36 x 72 Conference Tables                                      26
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables    24
Master Giant Foot® Doorstop, Safety Yellow                           24
Wilson Jones Hanging View Binder, White, 1"                          23
                                                                     ..
Fellowes High-Stak® Drawer Files                                      1
Computer Printout Index Tabs                                          1
Hewlett Packard 610 Color Digital Copier / Printer                    1
Global Comet™ Stacking Armless Chair                                  1
Alliance Rubber Bands                                                 1
Name: Product Name, Length: 1263, dtype: int64

In [50]:
# 3 . Find out how return that we ahve recived and with a product id 
order_return =pd.merge(Superstore , Superstore1)
check = order_return[['Order ID','Status']]

In [51]:
check

    Order ID    Status
0       9895  Returned
1      13959  Returned
2      13959  Returned
3      36038  Returned
4      39490  Returned
..       ...       ...
93      7107  Returned
94      7107  Returned
95     42823  Returned
96     13638  Returned
97     47109  Returned

[98 rows x 2 columns]

In [61]:
check[(check['Status']=='Returned')]['Order ID'].count()
# 98 product are returned

98

In [60]:
# 4 . try  to join order and return data both in sql and pandas 
order_return =pd.merge(Superstore , Superstore1)
order_return

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [63]:
# 5 . Try to find out how many unique customer that we have 
Superstore['Customer Name'].nunique()
#we have total 2703 customer_Id

2703

In [67]:
# 6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
Superstore2.count()
# There are 4 regions basically.

Region     4
Manager    4
dtype: int64

In [90]:
# 7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
df =pd.DataFrame(Superstore['Ship Mode'].value_counts())
df

                Ship Mode
Regular Air          7036
Delivery Truck       1283
Express Air          1107

In [91]:
df1 = df.sum()
df1

Ship Mode    9426
dtype: int64

In [95]:
df3 = ((df[['Ship Mode']])/df1)* 100
df3

                Ship Mode
Regular Air     74.644600
Delivery Truck  13.611288
Express Air     11.744112

In [96]:
# 8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
Superstore.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [97]:
Superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [98]:
Superstore['Delivery_Time'] = Superstore['Ship Date'] - Superstore['Order Date']

In [99]:
Superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Delivery_Time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [111]:
# 9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
Superstore[Superstore['Delivery_Time'] > '10 days']

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Delivery_Time
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

In [113]:
Superstore[Superstore['Delivery_Time'] > '10 days'].count()
# we have 23 order where its delivary time is more than 10 days

Row ID                  23
Order Priority          23
Discount                23
Unit Price              23
Shipping Cost           23
Customer ID             23
Customer Name           23
Ship Mode               23
Customer Segment        23
Product Category        23
Product Sub-Category    23
Product Container       23
Product Name            23
Product Base Margin     23
Region                  23
State or Province       23
City                    23
Postal Code             23
Order Date              23
Ship Date               23
Profit                  23
Quantity ordered new    23
Sales                   23
Order ID                23
Delivery_Time           23
dtype: int64

In [121]:
# 10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
Late_Delivary_manager = pd.merge(Superstore,Superstore2)
Late_Delivary_manager

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Delivery_Time,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.32000,2,5.90,88525,2 days,Chris
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Prior Lake,55372,2010-05-12,2010-05-14,803.47050,16,1164.45,86838,2 days,Chris
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Prior Lake,55372,2010-05-12,2010-05-13,-24.03000,7,22.23,86838,1 days,Chris
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Prior Lake,55372,2010-05-12,2010-05-13,-37.03000,4,13.99,86838,1 days,Chris
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Prior Lake,55372,2010-05-12,2010-05-13,-0.71000,4,14.26,86838,1 days,Chris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,25689,Critical,0.10,4.98,4.70,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,Macon,31204,2013-10-09,2013-10-11,174.38400,15,69.66,88850,2 days,Sam
9422,26152,Not Specified,0.00,58.14,36.61,3382,Jon Beasley,Delivery Truck,Corporate,Furniture,...,Marietta,30062,2011-05-21,2011-05-21,12.42600,13,807.21,88842,0 days,Sam
9423,26153,Not Specified,0.00,29.99,5.50,3382,Jon Beasley,Regular Air,Corporate,Technology,...,Marietta,30062,2011-05-21,2011-05-22,-94.55600,7,218.15,88842,1 days,Sam
9424,26154,Not Specified,0.03,16.16,7.74,3382,Jon Beasley,Regular Air,Corporate,Furniture,...,Marietta,30062,2011-05-21,2011-05-23,-5257.04634,1,20.17,88842,2 days,Sam
9425,26140,Not Specified,0.04,5.98,7.15,3382,Jon Beasley,Regular Air,Corporate,Office Supplies,...,Marietta,30062,2013-10-07,2013-10-09,-85.90400,3,21.86,88849,2 days,Sam

In [126]:
df5 = pd.DataFrame(Late_Delivary_manager[Late_Delivary_manager['Delivery_Time'] > "15 days"]['Manager'])
df5

      Manager
189     Chris
3476  William
3478  William
3495  William
3497  William
3826  William
4476  William
6638     Erin
7314     Erin
7315     Erin
7325     Erin
7328     Erin
7329     Erin
8435      Sam
9184      Sam
9186      Sam
9187      Sam
9307      Sam

In [129]:
df6 = pd.DataFrame(Late_Delivary_manager[Late_Delivary_manager['Delivery_Time'] > "15 days"]['Manager']).count()
df6
# There are 18 data which takes more than 15 days to deliver it.

Manager    18
dtype: int64

In [130]:
Superstore

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Delivery_Time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [196]:
# 11 . Gorup by region and find out which region is more profitable 
Superstore.groupby('Region')['Profit'].sum()

# Central Region has more profit

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [197]:
# 12 . Try to find out overalll in which country we are giving more discount 
df7 = pd.DataFrame(Superstore.groupby('City')['Discount'].sum())
df7

            Discount
City
Aberdeen        0.32
Abilene         0.22
Abington        0.08
Acton           0.00
Addison         0.23
...              ...
York            0.21
Youngstown      0.33
Yuba City       0.01
Yucaipa         0.15
Yuma            0.18

[1424 rows x 1 columns]

In [198]:
df7['Rank'] = df7['Discount'].rank(method = 'max', ascending = False)

In [199]:
df7[df7['Rank']== 1]
# Los Angeles getting more discount

             Discount  Rank
City
Los Angeles     10.37   1.0

In [175]:
# 13 . Give me a list of unique postal code 
df8 = (Superstore['Postal Code'].unique())
df8

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [161]:
Superstore.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Delivery_Time'],
      dtype='object')

In [200]:
# 14 . which customer segement is more profitalble find it out . 
df9 = pd.DataFrame(Superstore.groupby('Customer Segment')['Profit'].sum())
df9

                         Profit
Customer Segment
Consumer          206559.625348
Corporate         505538.627783
Home Office       283869.553814
Small Business    316474.592482

In [201]:
df9['Rank'] = df9['Profit'].rank(method= 'max',ascending = False)

In [202]:
df9[df9['Rank'] == 1]
# Corporate is more profiatable

                         Profit  Rank
Customer Segment
Corporate         505538.627783   1.0

In [220]:
# 15 . try to find out the 10th most loss making product catagory .
df10 =pd.DataFrame(Superstore.groupby('Product Name')['Profit'].sum())
df10

                                                         Profit
Product Name
"While you Were Out" Message Book, One Form per...   708.820800
#10 Self-Seal White Envelopes                        223.197520
#10 White Business Envelopes,4 1/8 x 9 1/2          1164.001460
#10- 4 1/8" x 9 1/2" Recycled Envelopes             -888.757800
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes       -1288.400800
...                                                         ...
i500plus                                             808.244640
i600                                                -525.934816
iDEN i550                                           2624.076000
iDEN i95                                            -371.274704
iDENi80s                                            -471.229440

[1263 rows x 1 columns]

In [224]:
df10['Rank'] = df10['Profit'].rank(method = 'max')

In [233]:
df10[df10['Rank'] == 10]

                                                       Profit  Rank
Product Name
Eldon ClusterMat Chair Mat with Cordless Antist... -9543.6525  10.0

In [236]:
#16. Try to find out 10 top  product with highest margins 
Superstore.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & Seel® Recycled Catalog Envelopes, Brown
1515       Peel & Seel® Recycled Catalog Envelopes, Brown
5050       Peel & Seel® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object